{{- $hasHostRestrictions := false }}
{{- range .Values.additionalIssuers }}
{{- if .hosts }}
{{- $hasHostRestrictions = true }}
{{- end }}
{{- end }}
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: jwt-authz
  namespace: istio-system
spec:
  action: ALLOW
  selector:
    matchLabels:
      {{ .Values.selector.key | default "protect" }}: {{ .Values.selector.value | default "keycloak" | quote }}
  rules:
  - from:
    - source:
        requestPrincipals:
        {{- if .Values.issuer_uri }}
        - "{{ .Values.issuer_uri }}/*"
        {{- else }}
        - "https://{{ .Values.global.oidc.host }}/auth/realms/{{ .Values.global.oidc.realm }}/*"
        {{- end }}
{{- if $hasHostRestrictions }}
    to:
    - operation:
        notHosts:
        {{- range .Values.additionalIssuers }}
        {{- if .hosts }}
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
        {{- end }}
        {{- end }}
{{- end }}
{{- range .Values.additionalIssuers }}
{{- if not .hosts }}
  - from:
    - source:
        requestPrincipals:
        - "{{ .issuer }}/*"
{{- if $hasHostRestrictions }}
    to:
    - operation:
        notHosts:
        {{- range $.Values.additionalIssuers }}
        {{- if .hosts }}
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
        {{- end }}
        {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- range .Values.additionalIssuers }}
{{- if .hosts }}
  - from:
    - source:
        requestPrincipals:
        - "{{ .issuer }}/*"
    to:
    - operation:
        hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
{{- end }}
{{- end }}
